body {
	background: linear-gradient(90deg, rgba(2,0,36,0.7) 0%, rgba(81,121,9,0.7) 1%, rgba(86,181,16,0.6446953781512605) 88%);
}

section {
	padding-top: 95px;
}

.textaboutme {
	margin-left: 30px;
    margin-right: 30px;
}

.container-fluid {
	display: flex;
}

.picofme > img {
	width: 100%;
	height: 100%;
	border-radius: 15px;
	margin-left: 20px;
	margin-right: 20px;
}

h3 {
	text-align: center;
}

ul {
	text-align: center;
	list-style: inside;
  }


.factsaboutme {
	margin-top: 50px;
}

.maintext {
	text-align: center;
	font-size: 1.6vw;
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
	margin-bottom: 0px;
	margin-top: 20px;
	margin-left: 10px;
}

.icons {
	margin-left: 47%;
	margin-right: 53%;
}


.linkedin:hover {
	text-shadow: 3px 3px 10px black;
	text-decoration: none;
	transition: .5s ease;
	color: black;
}

.emailicon:hover {
	text-shadow: 3px 3px 10px black;
	text-decoration: none;
	transition: .5s ease;
	color: black;
}


:root {
	--background: rgba(22, 144, 70, .85);
}

header{
	background: var(--background);
	text-align: center;
	position: fixed;
	font-family: 'Fredoka One', cursive;
	z-index: 999;
	width: 100%;
}

nav {
	position: absolute;
	text-align: left;
	top: 100%;
	left: 0;
	background: var(--background);
	width: 100%;
	transform: scale(1, 0);
	transform-origin: top;
	transition: transform 400ms ease-in-out;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	margin-bottom: 1em;
	margin-left: 1em;
}

nav a {
	color: white;
	text-decoration: none;
	font-size: 1.2rem;
	text-transform: uppercase;
	opacity: 0;
	transition: opacity 150ms ease-in-out;
}

nav a:hover {
	color: #000;

}

.nav-toggle {
	display: none;
}

.nav-toggle-label {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 1em;
	height: 100%;
	display: flex;
	align-items: center;

}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
	display: block;
	background: white;
	height: 2px;
	width: 2em;
	border-radius: 2px;
	position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
	content: '';
	position: absolute;
}

.nav-toggle-label span::before {
	bottom: 7px;
}

.nav-toggle-label span::after {
	top: 7px;
}


.nav-toggle:checked ~ nav {
	transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
	opacity: 1;
	transition: opacity 250ms ease-in-out 150ms;
}

@media screen and (min-width: 900px) {
	.nav-toggle-label {
		display: none;
	}

	header {
		display: grid;
		grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
	}

	.logo {
		grid-column: 2 / 3;
	}

	nav {
		all: unset;
		grid-column: 3 / 4;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	nav ul {
		display: flex;
	}

	nav li {
		margin-left: 3em;
		margin-bottom: 0;
	}

	nav a {
		opacity: 1;
		position: relative;
	}

	nav a::before {
		content: '';
		display: block;
		height: 5px;
		background: black;
		position: absolute;
		bottom: -.75em;
		left: 0;
		right: 0;
		transform: scale(0, 1);
		transform-origin: left;
		transition: transform ease-in-out 250ms;
	}

	nav a:hover::before {
		transform: scale(1,1);
	}
}

@media(max-width: 1024px) {
	.container-fluid {
		display: block;
	}

	.picofme > img {
		width: 700px;
		height: 100%;
		margin-left: 150px;
    	margin-right: 150px;
	}

	
	h3 {
		text-align: center;
	}
	
	ul {
		text-align: center;
		list-style: inside;
	  }
	
	
	
	.factsaboutme {
		margin-top: 50px;
	}
	
	.maintext {
		text-align: center;
		font-size: 2.2vw;
		font-family: 'Indie Flower', cursive;
		font-weight: bold;
		margin-bottom: 0px;
		margin-top: 20px;
	}
}

@media(max-width: 768px) {
	.container-fluid {
		display: block;
		justify-content: center;
	}

	.picofme > img {
		width: 700px;
		height: 100%;
		margin-left: 20px;
    	margin-right: 0px;
	}

	
	h3 {
		text-align: center;
	}
	
	ul {
		text-align: center;
		list-style: inside;
	  }
	


	
	.factsaboutme {
		margin-top: 50px;
	}
	
	.maintext {
		text-align: center;
		font-size: 3.0vw;
		font-family: 'Indie Flower', cursive;
		font-weight: bold;
		margin-bottom: 0px;
		margin-top: 20px;
	}
}

@media(max-width: 768px) {
	.container-fluid {
		display:block;
		justify-content: center;
		max-width: 100%;
	}

	.picofme > img {
		width: 700px;
		height: 100%;
		justify-content: center;
	}

	
	h3 {
		text-align: center;
	}
	
	ul {
		text-align: center;
		list-style: inside;
	  }
	
	
	.factsaboutme {
		margin-top: 50px;
	}
	
	.maintext {
		text-align: center;
		font-size: 5.0vw;
		font-family: 'Indie Flower', cursive;
		font-weight: bold;
		margin-bottom: 0px;
		margin-top: 20px;
	}
}

@media(max-width: 425px) {
	.container-fluid {
		display:block;
		justify-content: center;
		max-width: 100%;
	}
	.textaboutme {
		margin-left: 0px;
		margin-right: 0px;
	}

	.picofme > img {
		width: 400px;
		height: 100%;
		margin-left: 0px;
    	margin-right: 0px;
	}

	.icons {
		margin-left: 40%;
		margin-right: 60%;
	}

	
	h3 {
		text-align: center;
	}
	
	ul {
		text-align: center;
		list-style: inside;
	  }
	

	
	.factsaboutme {
		margin-top: 50px;
	}
	
	.maintext {
		text-align: center;
		font-size: 6.0vw;
		font-family: 'Indie Flower', cursive;
		font-weight: bold;
		margin-bottom: 0px;
		margin-top: 20px;
	}
}

@media(max-width: 375px) {
	.container-fluid {
		display:block;
		justify-content: center;
		max-width: 100%;
	}

	.picofme > img {
		width: 350px;
		height: 100%;
		margin-left: 0px;
    	margin-right: 0px;
	}

	
	h3 {
		text-align: center;
	}
	
	ul {
		text-align: center;
		list-style: inside;
	  }

	
	.factsaboutme {
		margin-top: 50px;
	}
	
	.maintext {
		text-align: center;
		font-size: 7.0vw;
		font-family: 'Indie Flower', cursive;
		font-weight: bold;
		margin-bottom: 0px;
		margin-top: 20px;
	}
}


@media(max-width: 320px) {
	.container-fluid {
		display:block;
		justify-content: center;
		max-width: 100%;
	}

	.picofme > img {
		width: 300px;
		height: 100%;
		margin-left: 0px;
    	margin-right: 0px;
	}

	
	h3 {
		text-align: center;
	}
	
	ul {
		text-align: center;
		list-style: inside;
	  }
	
	
	.factsaboutme {
		margin-top: 50px;
	}
	
	.maintext {
		text-align: center;
		font-size: 7.0vw;
		font-family: 'Indie Flower', cursive;
		font-weight: bold;
		margin-bottom: 0px;
		margin-top: 20px;
	}
}