.jumbotron{
	background-image: url(images/aboutme.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	
}

section {
	padding-top: 95px;
}

.col-7 {
	background-color: rgb(20,208,246,0.4);;
	border-radius: 10px;
}

.maintext {
	text-align: center;
	font-size: 2vw;
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
	margin-bottom: 0px;
}

.linkedin {
	margin-left: 325px; 
	margin-top: 1.5px;
}

section > .container {
	margin-left: 500px;
}

.navigation > a{
	text-decoration: none;
	text-align: center;
}


.nav-bar {
	color: white;
	font-size: 1.7rem;
	margin-top: 9px;
	font-family: 'Fredoka One', cursive;
	border-bottom: 1px solid black;
	
}

.nav-bar:hover {
	font-size: 190%;
	color: white;
	transition: .4s ease;
	text-shadow: 3px 3px 10px grey;
	text-decoration: none;
}

.linkedin:hover {
	text-shadow: 3px 3px 10px black;
	text-decoration: none;
	transition: .5s ease;
	color: black;
}

.emailicon:hover {
	text-shadow: 3px 3px 10px black;
	text-decoration: none;
	transition: .5s ease;
	color: black;
}




.container-fluid > .row {
	margin-left: 0px; 
	margin-right: 800px; 
	padding-right: 400px;
}

@media (max-width: 1800px) {
	.container-fluid > .row {
		margin-left: 0px; 
		margin-right: 400px; 
		padding-right: 200px;
	}
}


@media (max-width: 1000px) {
	.container-fluid > .row {
		margin-left: 0px; 
		margin-right: 0px; 
		padding-right: 200px;
	}
}


@media (max-width: 1900px) {
	section > .container {
	margin-left: 300px;
	}
}

@media (max-width: 1500px) {
	section > .container {
	margin-left: 100px;
	}
}

@media (max-width: 1000px) {
	section > .container {
	margin-left: 0px;
	}
	.maintext {
		font-size: 4vw;
	}
}

@media (max-width: 1400px) {
	.linkedin {
		margin-left: 270px; 
		margin-top: 1.5px
	}
}

@media only screen and (max-width: 1024px) and (min-width: 1000px) {
	.linkedin {
		margin-left: 180px;
		margin-top: 1.5px
	}
	.maintext {
		font-size: 2.5vw;
		margin-right: 100px;
	}
}

@media (max-width: 768px) {
	.linkedin {
		margin-left: 150px; 
		margin-top: 1.5px
	}
	.maintext {
		font-size: 4vw;
	}
}

@media (max-width: 425px) {
	.jumbotron{
		background-image: url(images/aboutme2.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		
	}
	.maintext {
		font-size: 6vw;
	}
}

@media (max-width: 320px) {
	.linkedin {
		margin-left: 30px; 
		margin-top: 1.5px
	}
}

:root {
	--background: rgba(22, 144, 70, .85);
}

header{
	background: var(--background);
	text-align: center;
	position: fixed;
	font-family: 'Fredoka One', cursive;
	z-index: 999;
	width: 100%;
}

nav {
	position: absolute;
	text-align: left;
	top: 100%;
	left: 0;
	background: var(--background);
	width: 100%;
	transform: scale(1, 0);
	transform-origin: top;
	transition: transform 400ms ease-in-out;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	margin-bottom: 1em;
	margin-left: 1em;
}

nav a {
	color: white;
	text-decoration: none;
	font-size: 1.2rem;
	text-transform: uppercase;
	opacity: 0;
	transition: opacity 150ms ease-in-out;
}

nav a:hover {
	color: #000;

}

.nav-toggle {
	display: none;
}

.nav-toggle-label {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 1em;
	height: 100%;
	display: flex;
	align-items: center;

}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
	display: block;
	background: white;
	height: 2px;
	width: 2em;
	border-radius: 2px;
	position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
	content: '';
	position: absolute;
}

.nav-toggle-label span::before {
	bottom: 7px;
}

.nav-toggle-label span::after {
	top: 7px;
}


.nav-toggle:checked ~ nav {
	transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
	opacity: 1;
	transition: opacity 250ms ease-in-out 150ms;
}

@media screen and (min-width: 900px) {
	.nav-toggle-label {
		display: none;
	}

	header {
		display: grid;
		grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
	}

	.logo {
		grid-column: 2 / 3;
	}

	nav {
		all: unset;
		grid-column: 3 / 4;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	nav ul {
		display: flex;
	}

	nav li {
		margin-left: 3em;
		margin-bottom: 0;
	}

	nav a {
		opacity: 1;
		position: relative;
	}

	nav a::before {
		content: '';
		display: block;
		height: 5px;
		background: black;
		position: absolute;
		bottom: -.75em;
		left: 0;
		right: 0;
		transform: scale(0, 1);
		transform-origin: left;
		transition: transform ease-in-out 250ms;
	}

	nav a:hover::before {
		transform: scale(1,1);
	}
}