
/*Überschrift*/
.thetitle {
	color: 	#696969;
	font-size: 2vw;
	font-family: 'Dancing Script', cursive;
	font-family: 'Parisienne', cursive;
	text-decoration: none;
	text-shadow: 2px 2px 30px black; /*roter hintergrundschatten*/
	text-align: center;	
}

.thetitle:hover {
	font-size: 2.04vw;
	text-shadow: 3px 3px 10px black;
	text-decoration: none;
	transition: .9s ease;
	color: black;
}

/*Navigations-menü*/
.navigation > a{
	text-decoration: none;
	text-align: center;
}


.nav-bar {
	color: white;
	font-size: 1.5rem;
	margin-top: 9px;
	font-family: 'Fredoka One', cursive;
	border-bottom: 1px solid black;
	
}

.nav-bar:hover {
	font-size: 170%;
	color: white;
	transition: .4s ease;
	text-decoration: none;
	text-shadow: 3px 3px 10px grey;

}


/*develop Picture*/
.media {
	position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow: hidden;
    float: left;
}
.media:hover div {
	opacity: 0.8;
    transition: all 0.8s ease-in;
    text-decoration: none;
    font-family: 'Amatic SC', cursive;
    font-size: 1.6rem;
}
.media div {
	position: absolute;
    box-sizing: border-box;
    top: 0;
    background-color: #D59E9E;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 5px;
    /*transition: all 2s ease-in;*/
}
.media p {
	
	text-decoration: none;
    display: block;
    color: white;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 95%;
    height: 50px;
    position: absolute;
    
}

img {
	width: 100%;
	height: 100%

}

/*develop Col and Rows*/
.container-fluid {
	padding: 5px; 
}

.container-fluid > .row >.col-lg{
	padding: 5px;
}

.container-fluid > .row >.navigation > .nav-bar{
	padding: 5px;
}

.thefooter {
	margin: 10px;
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-size: 130%;
}

.thefooter > p {
	margin-top: 1px;
	margin-bottom: 1px;
}

.border-bottom:after {
	content: "";
    display: block; 
    margin: 0 auto;
    width: 20%; /
    padding-top: 20px;
    border-bottom: 1px solid black; 
}

@media (max-width: 1199.98px) {
	.thetitle {
		font-size: 90%;
	}
	.border-bottom:after {
		width: 30%
	}

}