.thetitle {
	text-align: center;
	font-style: bold;
	font-size: 3em;
	font-family: 'Amatic SC', cursive;
}

.navigation > a{
	text-decoration: none;
	text-align: center;
}


.nav-bar {
	color: black;
	font-size: 1.5rem;
	margin-top: 9px;
	font-family: 'Fredoka One', cursive;
	border-bottom: 1px solid black;
	
}

.nav-bar:hover {
	font-size: 170%;
	color: black;
	transition: .4s ease;
	text-decoration: none;
	text-shadow: 3px 3px 10px grey;

}

img {
	border-radius: 5px;
}

.yogaimage {
	padding-top: 10px;
	padding-bottom: 590px;
	background-image: url(images/yogapic.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 5px;
}

h3 {
	font-family: 'Cabin Sketch', cursive;
}

h3 + p  {
	font-style: italic;
	font-family: 'Cabin Sketch', cursive;
}


h2 {
	color: white;
	background-color: black;
	margin-right: 200px;
	margin-left: 200px;
	border-radius: 20px;

}

.pictext {
	color: black;
	font-size: 200%;
	background: linear-gradient(to right, rgb(0, 179, 255, 0.7), rgb(11, 168, 142,0.7));
	border-radius: 20px;
}

.thefooter {
	margin: 10px;
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-size: 130%;
}

.thefooter > p {
	margin-top: 1px;
	margin-bottom: 1px;
}

.container-fluid > .row {
	margin-left: 0px; 
	margin-right: 800px; 
	padding-right: 400px;
}

@media (max-width: 1800px) {
	.container-fluid > .row {
		margin-left: 0px; 
		margin-right: 400px; 
		padding-right: 200px;
	}
}


@media (max-width: 1000px) {
	.container-fluid > .row {
		margin-left: 0px; 
		margin-right: 0px; 
		padding-right: 200px;
	}
}
