body {
	background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(149,156,57,0.008823597798494398) 0%, rgba(255,106,0,0.7427171552214635) 100%);
}

.thetitle {
	text-align: center;
	font-style: bold;
	font-size: 3em;
	font-family: 'Amatic SC', cursive;
}

.navigation > a{
	text-decoration: none;
	text-align: center;
}


.nav-bar {
	color: black;
	font-size: 1.5rem;
	margin-top: 9px;
	font-family: 'Fredoka One', cursive;
	border-bottom: 1px solid black;
	
}

.nav-bar:hover {
	font-size: 170%;
	color: black;
	transition: .4s ease;
	text-decoration: none;
	text-shadow: 3px 3px 10px grey;

}

img {
	border-radius: 5px;
	max-width: 100%;
	height: auto;
}

section {
	padding-right: 150px;
	padding-left: 150px;
	margin-left: 250px;
	margin-right: 250px;
	padding-top: 15px;
}

.yogaimage {
	padding-top: 10px;
	padding-bottom: 580px;
	background-image: url(images/yogapic.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 5px;
}

.hiddenclass {
	display: none;
}

h3 {
	font-family: 'Cabin Sketch', cursive;
}

h3 + p  {
	font-style: italic;
	font-family: 'Cabin Sketch', cursive;
	font-size: 180%;
}


h2 {
	color: white;
	background-color: black;
	margin-right: 180px;
	margin-left: 180px;
	border-radius: 20px;

}

.pictext {
	color: black;
	font-size: 200%;
	font-family: 'Merriweather Sans', sans-serif;
	background: linear-gradient(to right, rgb(0, 179, 255, 0.7), rgb(11, 168, 142,0.7));
	border-radius: 20px;
}

.thefooter {
	margin: 10px;
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-size: 130%;
}

.thefooter > p {
	margin-top: 1px;
	margin-bottom: 1px;
}

.container-fluid > .row {
	margin-left: 0px; 
	margin-right: 800px; 
	padding-right: 400px;
}

@media (max-width: 1800px) {
	.container-fluid > .row {
		margin-left: 0px; 
		margin-right: 400px; 
		padding-right: 200px;
	}
}


@media (max-width: 1000px) {
	.container-fluid > .row {
		margin-left: 0px; 
		margin-right: 0px; 
		padding-right: 200px;
	}
}

:root {
	--background: rgba(22, 144, 70, .85);
}

header{
	background: var(--background);
	text-align: center;
	position: fixed;
	font-family: 'Fredoka One', cursive;
	z-index: 999;
	width: 100%;
}

nav {
	position: absolute;
	text-align: left;
	top: 100%;
	left: 0;
	background: var(--background);
	width: 100%;
	transform: scale(1, 0);
	transform-origin: top;
	transition: transform 400ms ease-in-out;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	margin-bottom: 1em;
	margin-left: 1em;
}

nav a {
	color: white;
	text-decoration: none;
	font-size: 1.2rem;
	text-transform: uppercase;
	opacity: 0;
	transition: opacity 150ms ease-in-out;
}

nav a:hover {
	color: #000;

}

.nav-toggle {
	display: none;
}

.nav-toggle-label {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 1em;
	height: 100%;
	display: flex;
	align-items: center;

}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
	display: block;
	background: white;
	height: 2px;
	width: 2em;
	border-radius: 2px;
	position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
	content: '';
	position: absolute;
}

.nav-toggle-label span::before {
	bottom: 7px;
}

.nav-toggle-label span::after {
	top: 7px;
}


.nav-toggle:checked ~ nav {
	transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
	opacity: 1;
	transition: opacity 250ms ease-in-out 150ms;
}

@media screen and (min-width: 1024px) {
	.nav-toggle-label {
		display: none;
	}

	header {
		display: grid;
		grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
	}

	.logo {
		grid-column: 2 / 3;
	}

	nav {
		all: unset;
		grid-column: 3 / 4;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	nav ul {
		display: flex;
	}

	nav li {
		margin-left: 3em;
		margin-bottom: 0;
	}

	nav a {
		opacity: 1;
		position: relative;
	}

	nav a::before {
		content: '';
		display: block;
		height: 5px;
		background: black;
		position: absolute;
		bottom: -.75em;
		left: 0;
		right: 0;
		transform: scale(0, 1);
		transform-origin: left;
		transition: transform ease-in-out 250ms;
	}

	nav a:hover::before {
		transform: scale(1,1);
	}
}

@media (max-width: 1440px){

	section {
	padding-right: 50px;
	padding-left: 50px;
	
	padding-top: 15px;
	}


	.yogaimage {
		padding-top: 10px;
		padding-bottom: 450px;
	}

	h2 {
		color: white;
		font-size: 90%;
		background-color: black;
		margin-right: 100px;
		margin-left: 100px;
		border-radius: 20px;

	}

	.pictext {
		color: black;
		font-size: 133%;
		background: linear-gradient(to right, rgb(0, 179, 255, 0.7), rgb(11, 168, 142,0.7));
		border-radius: 20px;*/

	}

}



@media (max-width: 1024px){

	section {
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 15px;
	}

	.yogaimage {
		padding-top: 10px;
		padding-bottom: 220px;
	}

	h2 {
		color: white;
		font-size: 90%;
		background-color: black;
		margin-right: 50px;
		margin-left: 50px;
		border-radius: 20px;

	}

	.pictext {
		color: black;
		font-size: 133%;
		background: linear-gradient(to right, rgb(0, 179, 255, 0.7), rgb(11, 168, 142,0.7));
		border-radius: 20px;*/

	}

}


@media(max-width: 768px) {

	section {
		padding-left: 10px;
		padding-right: 10px;
		margin-left: 10px;
		margin-right: 10px;
	}

	.yogaimage {
		padding-top: 10px;
		padding-bottom: 350px;
	}

	h2 {
		color: white;
		background-color: black;
		margin-right: 1px;
		margin-left: 1px;
		border-radius: 20px;

	}

	.pictext {
		color: black;
		font-size: 120%;
		background: linear-gradient(to right, rgb(0, 179, 255, 0.7), rgb(11, 168, 142,0.7));
		border-radius: 20px;

	}

}

@media(max-width: 425px) {
	section {
		padding-right: 10px;
		padding-left: 10px;
	}

	.yogaimage {
		padding-top: 10px;
		padding-bottom: 150px;
	}

	h2 {
		color: white;
		background-color: black;
		margin-right: 1px;
		margin-left: 1px;
		border-radius: 20px;

	}

	.pictext {
		color: black;
		font-size: 120%;
		background: linear-gradient(to right, rgb(0, 179, 255, 0.7), rgb(11, 168, 142,0.7));
		border-radius: 20px;

	}

	.container {
		padding-right: 1px;
		padding-left: 1px;
	}

	.hiddenclass {
		display: block;
		text-align: center;
		font-family: 'Quicksand', sans-serif;
	}

	h3 + p  {
	font-size: 100%;
	}
}

@media(max-width: 320px) {
	.yogaimage {
		padding-top: 10px;
		padding-bottom: 100px;
	}

}
